:root {
  --primary-font: "Roboto", sans-serif;
  --main-background-color: white;
  --not-completed-background-color: #ff00000f;
  --not-completed-text-color: #e10000;
  --completed-background-color: #0080000f;
  --completed-text-color: green;
}

html,
body,
* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--primary-font);
}

.page {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Material UI Overrides */
.mat-elevation-z8 {
  box-shadow: none;
}
