:root {
  --primary-color: #1077ff;
  --on-primary-color: white;
  --outlined-button-color: #e2e2e2;
  --main-background-color: white;
  --not-completed-background-color: #ff00000f;
  --not-completed-text-color: #e10000;
  --completed-background-color: #0080000f;
  --completed-text-color: green;
  --error-button-color: red;
  --primary-font: "Roboto", sans-serif;
}

html,
body,
* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--primary-font);
}

.page {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Material Angular Overrides */
.mat-elevation-z8 {
  box-shadow: none;
}

button.main {
  background-color: var(--primary-color) !important;
  color: var(--on-primary-color) !important;
}

button.main.error {
  background-color: var(--error-button-color) !important;
  color: var(--on-primary-color) !important;
}

button.outlined {
  color: var(--primary-color) !important;
}
