/* Styling variables */
:root {
  --primary-color: #1077ff;
  --on-primary-color: white;
  --outlined-button-color: #e2e2e2;
  --main-background-color: white;
  --not-completed-background-color: #ff00000f;
  --not-completed-text-color: #e10000;
  --completed-background-color: #0080000f;
  --completed-text-color: green;
  --error-button-color: red;
  --primary-font: "Roboto", sans-serif;
}

/* Global Styling */
html,
body,
* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--primary-font);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 0;
}

/* Material Angular Styling Overrides */
.mat-elevation-z8 {
  box-shadow: none;
}

button.main {
  background-color: var(--primary-color) !important;
  color: var(--on-primary-color) !important;
}

button.main.error {
  background-color: var(--error-button-color) !important;
  color: var(--on-primary-color) !important;
}

button.outlined {
  color: var(--primary-color) !important;
}

.mat-mdc-fab:not(.mdc-fab--extended) {
    border-radius: 16px !important;
    background-color: var(--main-background-color) !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
}