.root-container {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
  background-color: var(--main-background-color);
  -webkit-box-shadow: 0px 0px 23px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 23px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 23px -14px rgba(0, 0, 0, 0.75);
  overflow: auto;
}

/* Task Table styling */
table {
  width: 100%;
}

td,
th {
  width: 25%;
}

/* Styling for task completion status box */
.status-box {
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  width: 120px;
  padding: 0.5rem;
}

.completed {
  background-color: var(--completed-background-color);
  color: var(--completed-text-color);
}

.not-completed {
  background-color: var(--not-completed-background-color);
  color: var(--not-completed-text-color);
}

/* Search & Add Task Container Styling */
.top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.top-container > button {
  height: 56px !important;
}

/* Search field styling */
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
