<div class="root-container">
  <div class="content-wrapper">
    <!-- Title of the dialog -->
    <h2 mat-dialog-title>{{ title }}</h2>

    <!-- Content area of the dialog -->
    <mat-dialog-content> </mat-dialog-content>

    <!-- Action buttons at the bottom of the dialog -->
    <mat-dialog-actions>
      <button class="outlined" mat-stroked-button (click)="onNoClick()">
        Cancel
      </button>
      <button class="main" mat-flat-button (click)="onConfirm()">Submit</button>
    </mat-dialog-actions>
  </div>
</div>
