<form>
  <mat-form-field appearance="outline">
    <mat-error>Title required. Max 100 chars.</mat-error>
    <mat-label>Title</mat-label>
    <input matInput required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-error>Due Date must be in the future.</mat-error>
    <mat-label>Due Date</mat-label>
    <input
      matInput
      [matDatepicker]="pickupdatepicker"
      required
    />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="pickupdatepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickupdatepicker> </mat-datepicker>
  </mat-form-field>
</form>
